/* CSS Document */
body{
	background-color: black;
}

.banner{
	background: url(./Images/banner.jpg);
	height: 100px;
	width: 946px;
	margin:auto;
	border-radius: 6px;
	border: solid 3px white;
	position: absolute;
	z-index: 1;
	color: rgba(0,0,0,0);
}
.banner:hover {
	background: url();
	background-color: #0000ff;
	color: white;
}

.banner p{
	margin: 40px 0px 0px 50px;
	color: inherit;
}

#nav-menu{
	position:absolute;
	z-index: 2;
	margin-top: 120px;
	margin-left: -30px;
}

#nav-menu li:nth-child(1){
	margin-left:152px;
}

#nav-menu li:nth-child(2){
	margin-left: 95px;
}

#nav-menu li:nth-child(3){
	margin-left:55px;
}

#nav-menu li:nth-child(4){
	margin-left:20px;
}

#nav-menu li{
	list-style-type: none;
	margin-top: 30px;
	
}

#nav-menu a{
	border: 3px white solid;
	background-color: #BF4500;
	display: block;
	width: 100px;
	height: 30px;
	border-radius: 10px;
		
}

#nav-menu a:hover{
	background-color: blue;
	
}

#nav-menu p{
	margin: 5px 0px 0px 20px;
}

#menu {
	width: 100px;
	height: 100px;
	position: absolute;	
	margin: 120px 0px 0px 20px;

	border: 3px solid white;
	border-radius: 100%;
	z-index: 1;
}

#wrapper {
	background-color: #CC4A00;
	border: 3px solid white;
	border-radius: 10px;
	width: 950px;
	height: 650px;
	margin: auto;
	overflow: hidden;
}

#menudeco{
	background-color: #FF5C00;
	border: 3px solid white;
	border-radius: 70%;
	width: 1250px;
	height:1250px;
	position: relative;
	z-index: 0;
}

#intro-wrap{
	background-color: #FF5C00;
	border: 3px solid white;
	border-radius: 10px;
	margin: auto;
	margin-top: 150px;
	width: 600px;
	height: 300px;
}

h1 {
	color: white;
	margin-left: 20px;
	font-family: sans-serif;	
}

h3 {
	color: white;
	margin-left: 20px;
	font-family: sans-serif;	
}

p {
	margin:10px 20px 0px 20px;
	color: white;
	font-family: serif;
}

a{
	text-decoration: none;
}

#proceed{
	background-color: #BF4500;
	border: 3px solid black;
	border-radius: 10px;
	margin: auto;
	width: 100px;
	height: 50px;
	margin-top: 40px;
}

#proceed:hover {
		background-color: #7F2E00;
}

#proceed p{
	margin: 15px 0px 0px 30px;

}

#content{
	position: absolute;
	margin: 130px 0px 0px 300px;
	z-index: 5;
	width: 620px;;
}

iframe{
	margin: 10px 0px 0px 100px;
	border: 3px white solid;
	border-radius: 10px;
	padding: 20px;
	background-color: grey;
}

ol li{
	margin-top:5px;
	color: white;
}

#senses{
	margin: auto;
	margin-top: 30px;
}

#senses li{
	display: inline-block;
	list-style-type: none;	
	margin-right: 5px;
}

#senses li img{
	border-radius: 100%;
	border: 2px black solid;
	width: 100px;
	height: 100px;	
}